.siteSection{
    background-color: #F1F3F6;
    text-align: -webkit-center;
    overflow-x: hidden;
}
c-custom-carousel{
    width:100%;
    transition: width 0.6s ease;

}
/*-----bannerSection----------------------------------------------------------------------*/
.bannerSection {
      display: flex;
      gap: 4rem;

}
/*------summerIconSection---------------------------------------------------------------------*/

.summerIconSection {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  background-color: white;
  width: 92vw;
  align-items: center;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.20000000298023224);

}
.kCard {
  display: flex;
  width: 25rem;
  height: 6rem;
  justify-content: center;
  padding: 0.4rem;
}
.kCard img {
  width: 4rem;
  height: 4rem;
}
.kCard h2 {
  font-weight: 600;
  font-size: 1.1rem;
}
.kCard h3{
    font-size: 0.7rem;
}
.kk {
      padding: 1rem 3rem;
      border-right: 1px solid gray;
}


/*------m-w-cardSection---------------------------------------------------------------------*/

.m-w-cardSection {
    display: flex;
    gap: 3rem;
    justify-content: center;
    background-color: white;
    margin-top: 1.5rem;
    width: 92vw;
    height: 67vh;
    align-items: center;
    padding: 1rem;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.20000000298023224);

}
.sCard {
  width: 45vw;
}
.sCard img {
  width: 100%;
  height: 50vh;
  object-fit: cover;
}
.sCard{
    position:relative;
}
.sCardText{
    position: absolute;
    font-size: 2rem;
    right: 4%;
    top: 10%;
    color: white;
    border: solid 4px white;
    padding: 5px;
}

/*------popularItemsSection---------------------------------------------------------------------*/
.popularItemsSection{
        background-color: white;
        margin-top: 1.6rem;
        width: 92vw;
        box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.20000000298023224);
}
.pp {
  display: flex;
  justify-content: space-between;
  padding: 2rem;
}
.rowButtons {
  display: flex;
}
.pp h2 {
  font-size: 2.5rem;
  align-self: center;
  font-weight: 700;
}
.popCards {
  width: 90vw;
  display: flex;
  overflow-x: scroll;
  margin: auto;
  gap: 3rem;
  height: 75vh;
}
.popCard button{
    width: 50%;
    margin: 0.8rem auto;
    border-radius: 1rem;
    background-color: red;
    color: white;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.productCard {
  height: 20vw;
  width: 35vh;
  filter: contrast(80%);
  transition: transform 0.5s;
  text-align: center;
  flex: none;
}
.popCards img {
  width: 80%;
  height: 100%;
  object-fit: cover;
  max-width: none;
}
.pname {
  font-size: 1.4rem;
  font-weight: 600;
  margin: 1rem 2rem;
}
.gallery::-webkit-scrollbar {
  display: none;
}

/*------commentAreaSection---------------------------------------------------------------------*/

.commentAreaSection{
    padding: 3rem 4rem;
    display: flex;
    gap: 4rem;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.20000000298023224);
    width:92vw;
    background-color: white;
    margin-top: 1.5rem;
    position: relative;
}
.commentCard{
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.20000000298023224);
    position: relative;
    padding-left: 5rem;
    text-align: justify;
    padding-right: 2rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    border-radius: 1rem;
}
.commentAreaSection img{
    position: absolute;
    width: 6rem;
    height: 6rem;
    object-fit: cover;
    left: -2rem;
    top: 25%;
    border-radius: 1rem;
}

/*------discountItemSection---------------------------------------------------------------------*/
.discountItemSection{
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.20000000298023224);
    width: 92vw;
    background-color: white;
    margin-top: 1.6rem;
    padding: 1rem;
}
.disCatagory {
  display: flex;
}
.disCatagory li {
  width: 20vw;
  height: 11vh;
  margin: 1rem 0;
  border: 1px solid;
  padding: 8% 2rem;
  font-size: 1.6rem;
}
.disContainer{
  height: 67vh;

}
.popCards1 {
    width: 70vw;
    display: flex;
    overflow-x: scroll;
    margin: auto;
    gap: 3rem;
    height: 65vh;

}

.productCard1 {
  height: 25vw;
  width: 40vh;
  filter: contrast(80%);
  transition: transform 0.5s;
  text-align: center;
  padding: 10px;
  flex: none;
}
.popCards1 img {
  width: 80%;
  height: 80%;
  object-fit: cover;
  max-width: none;
}

.gallery2::-webkit-scrollbar {
  display: none;
}

/*------newsSection---------------------------------------------------------------------*/

.newscards {
  display: flex;
  justify-content: center;
  gap: 6rem;
  flex-wrap: wrap;
}
.newsSection{
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.20000000298023224);
  width: 92vw;
  background-color: white;
  margin-top: 1.6rem;
  height: 82vh;
}
.newsCard {
  width: 20vw;
  height: 55vh;
  border: 1px solid;
  text-align: center;
}
.newsCard img {
  width: 100%;
  height: 70%;
  object-fit: cover;
}
.newsCard h3 {
  font-weight: 700;
  font-size: 1.2rem;
}
.newsCard p {
  font-size: 0.7rem;
}
.comment {
  display: flex;
}
.comment img {
  width: 1rem;
  height: auto;
}

/*------instagramSection---------------------------------------------------------------------*/
.instagramSection{
    width: 92vw;
    margin-top: 1.6rem;
    position:relative;
    overflow-x: hidden;
}
.insCard{
    position: absolute;
    width: 40vw;
    height: 16vw;
    background: rgb(217 217 233 / 41%);
    text-align: center;
    top: 25%;
    left: 29%;
    padding: 3rem;
}
.insCard h1{
    font-weight:600;
    font-size:2rem;
}
.insCard button{
    background-color: red;
    border-radius: 1rem;
    width: 9rem;
    height: 3rem;
    color: white;
}

.submitArea{
    display: flex;
    height: 20vh;
    background-color: #361d4a;
    color: white;
    justify-content: space-between;
}
.subEnter{
    display: flex;
    height: 3rem;
    align-self: center;
    padding-right: 1rem;
}

@keyframes infiniteScroll1 {
  from {transform: translateX(0)}
  to {transform: translateX(100%)}
}
@keyframes infiniteScroll2{
  from {transform: translateX(0)}
  to {transform: translateX(-100%)}
}
.insRow1{
    display: flex;
    width: 92vw;
    margin-left: -100vw;
    animation-name: infiniteScroll1;
              animation-duration: 90s;
              animation-iteration-count: infinite;
              animation-timing-function: linear;

}
.insRow2{
    display: flex;
    width: 92vw;
    animation-name: infiniteScroll2;
              animation-duration: 90s;
              animation-iteration-count: infinite;
              animation-timing-function: linear;

}

.imgCard img{
    max-width: none;
    width: 15rem;
    height: 15rem;
    object-fit: cover;

}
input {
  width: 20vw;
}
.subAreaText{
    text-align: justify;
    padding: 0 2rem;
    align-self: center;
}
.subAreaText{
    font-size: 1.6rem;
    font-weight: 500;
}
.subAreaText p{
    font-size:1rem;
}
.subEnter button{
    background: red;
    width: 8rem;
    border-radius: 2rem;
    margin-left: -1rem;
}
.subEnter input{
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
}

/*------Footer---------------------------------------------------------------------*/

footer{
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.20000000298023224);
    width: 92vw;
    background-color: white;
    margin-top: 1.6rem;
    padding: 2rem;
}
























